<% include ../include/header.ejs %>

<div id="content-wrapper">

<div class="container-fluid">
    <!-- CODE HERE -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Accueil</a>
      </li>
      <li class="breadcrumb-item">
        <a href="/admin">Admin</a>
      </li>
      <li class="breadcrumb-item active">Gestion des matières</li>
    </ol>

    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-users"></i>
        Gestion des matières</div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Matière</th>
                <th>Professeur(s)</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Matière</th>
                <th>Professeur(s)</th>
                <th>Actions</th>
              </tr>
            </tfoot>
            <tbody>
            <% for(var i=0; i < data.length; i++) { %>
              <tr>
                <td><%= data[i].nommatiere %></td>
                <td><%= data[i].effectif %></td>
                <td>
                  <form style="width:100%;padding:0;margin:0;" action="/admin/matieres/delete" method="post">
                    <button style="width:49%;" type="button" class="btn btn-primary" onclick="location.href='/admin/classes/edit/<%= data[i].idclasse %>';" value="edit-prof">Editer</button>
                    <input type="hidden" name="delete" value="<%= data[i].id %>">
                    <button id="deleteProf" style="width:49%;" type="submit" class="btn btn-danger">Supprimer</button>
                  </form>
                  <!--<button style="width:49%;" type="button" class="btn btn-primary">Configurer</button> <button style="width:49%;" type="button" class="btn btn-danger">Supprimer</button>-->
                </td>
              </tr>
             <% } %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer small text-muted">Mis à jour : il y a quelques secondes...</div>
    </div>
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-user"></i>
        Ajouter une matière</div>
      <div class="card-body">
        <form method="post" action="/admin/matieres/add">
		  <div class="form-group">
		    <label for="nom">Nom de la matière</label>
		    <input type="text" id="nom" name="nommatiere" class="form-control" placeholder="Nom..."><br/>
		  </div><hr>
		  <button type="submit" class="btn btn-primary">Ajouter la matière à la base de données</button>
		</form>
      </div>

    </div>


</div>
<!-- /.container-fluid -->
<% include ../include/footer.ejs %>
