<% include ./include/header.ejs %>
<div class="container-fluid">

  <!-- Breadcrumbs-->
  <ol class="breadcrumb mt-3">
    <li class="breadcrumb-item">
      <a href="/">Accueil</a>
    </li>
    <li class="breadcrumb-item active">Erreur 404</li>
  </ol>

  <!-- Page Content -->
  <h1 class="display-1">404</h1>
  <p class="lead">Page non trouvée, êtes vous sûrs de ce que vous demandez ? Vous pouvez
    <a href="javascript:history.back()">retourner à la page précédente</a>
    ou bien 
    <a href="/">retourner à l'accueil</a> si vous le souhaitez.</p>

</div>
<% include ./include/footer.ejs %>