<% include ./include/header.ejs %>

<div id="content-wrapper">

<div class="container-fluid">
    <!-- CODE HERE -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Accueil</a>
      </li>
      <li class="breadcrumb-item active"> Paramètres </li>
    </ol>

    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <div class="card-header">
            <i class="fas fa-users"></i>
            Paramètres</div>
          <div class="card-body">
            Page en cours de développment.
          </div>
          <div class="card-footer small text-muted">Mis à jour : il y a quelques secondes...</div>
        </div>
      </div>
    </div>

</div>

<!-- /.container-fluid -->
<% include ./include/footer.ejs %>
