<% include ./include/header.ejs %>

<div id="content-wrapper">

<div class="container-fluid">
    <!-- CODE HERE -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/">Accueil</a>
      </li>
      <li class="breadcrumb-item active"> Paramètres </li>
    </ol>

    <div class="row">

    </div>

</div>

<!-- /.container-fluid -->
<% include ./include/footer.ejs %>
