<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Asimov Gestion | Accueil</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin.css" rel="stylesheet">
  <link href="/css/profil.css" rel="stylesheet">

  <!-- Custom styles for notifications -->
  <link href="/notification/css/notif.css" rel="stylesheet">


</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="/index.ejs">Asimov Gestion</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="/#">
      <i class="fas fa-bars"></i>
    </button>



    <!-- Navbar -->
    <ul class="navbar-nav  ml-auto mr-0 mr-md-3 my-2 my-md-0">
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="/#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="/parameters">Paramètre</a>
          <a class="dropdown-item" href="/profil">Profil</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/#" data-toggle="modal" data-target="#logoutModal">Déconnexion</a>
        </div>
      </li>
    </ul>

  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/home">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span style="margin-left:5px;">Accueil</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profil">
          <i class="fas fa-fw fa-users"></i>
          <span>Profil</span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-fw fa-tasks"></i>
          <span>Communication</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="pagesDropdown">
          <a class="dropdown-item" href="/discussions">Discussions</a>
          <a class="dropdown-item" href="">Tickets</a>
          <a class="dropdown-item" href="">Annonces</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin">
          <i class="fas fa-fw fa-lock"></i>
          <span>Admin</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/parameters">
          <i class="fas fa-fw fa-cog"></i>
          <span>Paramètres</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/faq">
          <i class="fas fa-fw fa-question-circle"></i>
          <span>F.A.Q.</span></a>
      </li>
    </ul>
